@page "/"
@using Tobot.MauiHybrid.Services
@inject IConnectivityService ConnectivityService
@inject NavigationManager NavigationManager

@if (isLoading)
{
    <div style="display: flex; align-items: center; justify-content: center; height: 100vh;">
        <div style="text-align: center;">
            <h2>Checking connection...</h2>
            <p>Please wait</p>
        </div>
    </div>
}
else if (isConnected)
{
    <iframe src="http://pi41:5824/app" 
            style="width: 100%; height: 100vh; border: none;">
    </iframe>
}

@code {
    private bool isLoading = true;
    private bool isConnected = false;
    private const string ServerUrl = "http://pi41:5824/app";

    protected override async Task OnInitializedAsync()
    {
        isConnected = await ConnectivityService.IsServerReachableAsync(ServerUrl);
        isLoading = false;

        if (!isConnected)
        {
            NavigationManager.NavigateTo("/error");
        }
    }
}
